.absolute {
    position: absolute;
}
button.btn {
    margin: 10px;
}
.relative{
    position: relative;
}

#secondary-heading,
#section_background,
#section_neck,
#section_ears,
#section_leg,
#section_hair,
#section_mouth,
#section_eyes,
#section_accessories{
    display: none;
}
