/*FONT FILES*/
/* latin */
@font-face {
    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/comicneue/v8/4UaErEJDsxBrF37olUeD_xHM8pxULg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


  @font-face {
    font-family: 'Mabook';
    src: url('https://cdn.shopify.com/s/files/1/0101/1440/0320/files/Mabook.woff2?v=1654255208') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0101/1440/0320/files/Mabook.woff?v=1654255208') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0101/1440/0320/files/Mabook.ttf?v=1654255208') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*FONT FILES END*/  


/*OVERRIDDEN*/
.row .col{
  padding: 0px 2rem;
}


body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #4923d5, #23d5ab);
    color:white;
    background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
  }

.absolute {
    position: absolute;
    left: 0;
    right: 0;
}
button.btn {
    margin: 10px;
}
.relative{
    position: relative;
}

.button-rr, .rand-btn {
  border: 2px solid #00193d;
  line-height: 0px;
  box-shadow: none;
  border-radius: 4px;
  font-weight: bold;
}

.rand-btn {
  background: #00193d;
  color:white;
}

.button-rr{
background: transparent;
color: #00193d;
}

.button-rr:hover {
  background-color: #00193de6;
  color: white;
}

.active-bg{
  background-color: #00193d!important;
  color:white;
}




#section-style,
#secondary-heading-2,
#section_background,
#section_neck,
#section_ears,
#section_leg,
#section_hair,
#section_mouth,
#section_eyes,
#section_accessories{
    display: none;
}

.rrcard {
    background: white;
    padding: 23px!important;
    border-radius: 8px;
}

div#particle-container {
    z-index: -2;
    position: absolute;
    width: 100vh;
    height: 100vh;
}

div#section-style {
    margin-top: 15px;
}

.primary-heading{
    font-family: Mabook;
    font-size: 3.56rem;
    margin: 2rem 0;
}

.heading2{
    font-family: Comic Neue;
}

.bg-blur {
    backdrop-filter: blur(2px);
    height: 100vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* .grad-back {
    background: linear-gradient(317deg, #00d0ff, #119bea, #1162ea, #1129ea, #1116ea, #8911ea, #ea11d8, #ea1182, #11eae2);
    background-size: 1800% 1800%;

    -webkit-animation: gradient-back 10s ease infinite;
    -moz-animation: gradient-back 10s ease infinite;
    animation: gradient-back 10s ease infinite;
}

@-webkit-keyframes gradient-back {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@-moz-keyframes gradient-back {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@keyframes gradient-back {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
} */


  
  .particle {
    position: absolute;
    border-radius: 50%;
  }
  
  @-webkit-keyframes particle-animation-1 {
    100% {
      transform: translate3d(31vw, 81vh, 79px);
    }
  }
  
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(31vw, 81vh, 79px);
    }
  }
  .particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
            animation: particle-animation-1 60s infinite;
    opacity: 0.05;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
    transform: translate3d(13vw, 35vh, 15px);
    background: #ffc5b6;
  }
  
  @-webkit-keyframes particle-animation-2 {
    100% {
      transform: translate3d(69vw, 29vh, 90px);
    }
  }
  
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(69vw, 29vh, 90px);
    }
  }
  .particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
            animation: particle-animation-2 60s infinite;
    opacity: 0.02;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
    transform: translate3d(65vw, 26vh, 54px);
    background: #ff83f3;
  }
  
  @-webkit-keyframes particle-animation-3 {
    100% {
      transform: translate3d(24vw, 49vh, 20px);
    }
  }
  
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(24vw, 49vh, 20px);
    }
  }
  .particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
            animation: particle-animation-3 60s infinite;
    opacity: 0.21;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
    transform: translate3d(24vw, 68vh, 92px);
    background: #9affd2;
  }
  
  @-webkit-keyframes particle-animation-4 {
    100% {
      transform: translate3d(76vw, 84vh, 20px);
    }
  }
  
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(76vw, 84vh, 20px);
    }
  }
  .particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
            animation: particle-animation-4 60s infinite;
    opacity: 0.75;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
    transform: translate3d(52vw, 48vh, 64px);
    background: #ffffff;
  }
  
  @-webkit-keyframes particle-animation-5 {
    100% {
      transform: translate3d(83vw, 90vh, 49px);
    }
  }
  
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(83vw, 90vh, 49px);
    }
  }
  .particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
            animation: particle-animation-5 60s infinite;
    opacity: 1;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    transform: translate3d(30vw, 8vh, 45px);
    background: #ffffff;
  }
  
  @-webkit-keyframes particle-animation-6 {
    100% {
      transform: translate3d(29vw, 85vh, 42px);
    }
  }
  
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(29vw, 85vh, 42px);
    }
  }
  .particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
            animation: particle-animation-6 60s infinite;
    opacity: 0.79;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
    transform: translate3d(68vw, 84vh, 60px);
    background: #ffffff;
  }
  
  @-webkit-keyframes particle-animation-7 {
    100% {
      transform: translate3d(30vw, 5vh, 30px);
    }
  }
  
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(30vw, 5vh, 30px);
    }
  }
  .particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
            animation: particle-animation-7 60s infinite;
    opacity: 0.58;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
    transform: translate3d(73vw, 1vh, 86px);
    background: #ffffff;
  }
  
  @-webkit-keyframes particle-animation-8 {
    100% {
      transform: translate3d(25vw, 89vh, 37px);
    }
  }
  
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(25vw, 89vh, 37px);
    }
  }
  .particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
            animation: particle-animation-8 60s infinite;
    opacity: 0.34;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
    transform: translate3d(53vw, 36vh, 50px);
    background: #ffffff;
  }
  
  @-webkit-keyframes particle-animation-9 {
    100% {
      transform: translate3d(42vw, 6vh, 60px);
    }
  }
  
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(42vw, 6vh, 60px);
    }
  }
  .particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
            animation: particle-animation-9 60s infinite;
    opacity: 0.6;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
    transform: translate3d(26vw, 30vh, 33px);
    background: #26d9ca;
  }
  
  @-webkit-keyframes particle-animation-10 {
    100% {
      transform: translate3d(49vw, 85vh, 62px);
    }
  }
  
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(49vw, 85vh, 62px);
    }
  }
  .particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
            animation: particle-animation-10 60s infinite;
    opacity: 0.26;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    transform: translate3d(14vw, 19vh, 80px);
    background: #0019da;
  }
  
  @-webkit-keyframes particle-animation-11 {
    100% {
      transform: translate3d(78vw, 64vh, 83px);
    }
  }
  
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(78vw, 64vh, 83px);
    }
  }
  .particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
            animation: particle-animation-11 60s infinite;
    opacity: 0.32;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
    transform: translate3d(87vw, 44vh, 56px);
    background: #d926c4;
  }
  
  @-webkit-keyframes particle-animation-12 {
    100% {
      transform: translate3d(3vw, 68vh, 35px);
    }
  }
  
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(3vw, 68vh, 35px);
    }
  }
  .particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
            animation: particle-animation-12 60s infinite;
    opacity: 0.63;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
    transform: translate3d(38vw, 86vh, 21px);
    background: #ff83d2;
  }
  
  @-webkit-keyframes particle-animation-13 {
    100% {
      transform: translate3d(37vw, 74vh, 41px);
    }
  }
  
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(37vw, 74vh, 41px);
    }
  }
  .particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
            animation: particle-animation-13 60s infinite;
    opacity: 0.71;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
    transform: translate3d(58vw, 43vh, 56px);
    background: #ffffff;
  }
  
  @-webkit-keyframes particle-animation-14 {
    100% {
      transform: translate3d(10vw, 38vh, 80px);
    }
  }
  
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(10vw, 38vh, 80px);
    }
  }
  .particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
            animation: particle-animation-14 60s infinite;
    opacity: 0.72;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
    transform: translate3d(49vw, 4vh, 38px);
    background: #26b8d9;
  }
  
  @-webkit-keyframes particle-animation-15 {
    100% {
      transform: translate3d(8vw, 57vh, 20px);
    }
  }
  
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(8vw, 57vh, 20px);
    }
  }
  .particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
            animation: particle-animation-15 60s infinite;
    opacity: 0.01;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: translate3d(65vw, 4vh, 83px);
    background: #c2ffc0;
  }
  
  @-webkit-keyframes particle-animation-16 {
    100% {
      transform: translate3d(51vw, 61vh, 57px);
    }
  }
  
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(51vw, 61vh, 57px);
    }
  }
  .particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
            animation: particle-animation-16 60s infinite;
    opacity: 0.59;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.2s;
            animation-delay: -3.2s;
    transform: translate3d(28vw, 34vh, 8px);
    background: #cfffe6;
  }
  
  @-webkit-keyframes particle-animation-17 {
    100% {
      transform: translate3d(33vw, 17vh, 20px);
    }
  }
  
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(33vw, 17vh, 20px);
    }
  }
  .particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
            animation: particle-animation-17 60s infinite;
    opacity: 0.43;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.4s;
            animation-delay: -3.4s;
    transform: translate3d(1vw, 46vh, 52px);
    background: #3b6fff;
  }
  
  @-webkit-keyframes particle-animation-18 {
    100% {
      transform: translate3d(3vw, 55vh, 62px);
    }
  }
  
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(3vw, 55vh, 62px);
    }
  }
  .particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
            animation: particle-animation-18 60s infinite;
    opacity: 0.69;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
    transform: translate3d(18vw, 88vh, 26px);
    background: #58fff7;
  }
  
  @-webkit-keyframes particle-animation-19 {
    100% {
      transform: translate3d(7vw, 47vh, 78px);
    }
  }
  
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(7vw, 47vh, 78px);
    }
  }
  .particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
            animation: particle-animation-19 60s infinite;
    opacity: 0.55;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3.8s;
            animation-delay: -3.8s;
    transform: translate3d(68vw, 39vh, 81px);
    background: #ff60d5;
  }
  
  @-webkit-keyframes particle-animation-20 {
    100% {
      transform: translate3d(57vw, 42vh, 87px);
    }
  }
  
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(57vw, 42vh, 87px);
    }
  }
  .particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
            animation: particle-animation-20 60s infinite;
    opacity: 0.57;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: translate3d(28vw, 54vh, 32px);
    background: #6970ff;
  }
  
  @-webkit-keyframes particle-animation-21 {
    100% {
      transform: translate3d(65vw, 53vh, 45px);
    }
  }
  
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(65vw, 53vh, 45px);
    }
  }
  .particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
            animation: particle-animation-21 60s infinite;
    opacity: 0.72;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.2s;
            animation-delay: -4.2s;
    transform: translate3d(47vw, 59vh, 99px);
    background: #ffd9ca;
  }
  
  @-webkit-keyframes particle-animation-22 {
    100% {
      transform: translate3d(72vw, 71vh, 95px);
    }
  }
  
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(72vw, 71vh, 95px);
    }
  }
  .particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
            animation: particle-animation-22 60s infinite;
    opacity: 0.35;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.4s;
            animation-delay: -4.4s;
    transform: translate3d(62vw, 51vh, 32px);
    background: #ffdec6;
  }
  
  @-webkit-keyframes particle-animation-23 {
    100% {
      transform: translate3d(41vw, 11vh, 52px);
    }
  }
  
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(41vw, 11vh, 52px);
    }
  }
  .particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
            animation: particle-animation-23 60s infinite;
    opacity: 0.82;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
    transform: translate3d(51vw, 18vh, 64px);
    background: #e137ff;
  }
  
  @-webkit-keyframes particle-animation-24 {
    100% {
      transform: translate3d(41vw, 87vh, 82px);
    }
  }
  
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(41vw, 87vh, 82px);
    }
  }
  .particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
            animation: particle-animation-24 60s infinite;
    opacity: 0.42;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
    transform: translate3d(32vw, 84vh, 11px);
    background: #f5ffce;
  }
  
  @-webkit-keyframes particle-animation-25 {
    100% {
      transform: translate3d(85vw, 24vh, 55px);
    }
  }
  
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(85vw, 24vh, 55px);
    }
  }
  .particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
            animation: particle-animation-25 60s infinite;
    opacity: 0.65;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    transform: translate3d(83vw, 22vh, 39px);
    background: #ff7cc9;
  }
  
  @-webkit-keyframes particle-animation-26 {
    100% {
      transform: translate3d(71vw, 38vh, 91px);
    }
  }
  
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(71vw, 38vh, 91px);
    }
  }
  .particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
            animation: particle-animation-26 60s infinite;
    opacity: 0.76;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.2s;
            animation-delay: -5.2s;
    transform: translate3d(30vw, 70vh, 49px);
    background: #ffffff;
  }
  
  @-webkit-keyframes particle-animation-27 {
    100% {
      transform: translate3d(75vw, 34vh, 77px);
    }
  }
  
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(75vw, 34vh, 77px);
    }
  }
  .particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
            animation: particle-animation-27 60s infinite;
    opacity: 0.44;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.4s;
            animation-delay: -5.4s;
    transform: translate3d(58vw, 38vh, 37px);
    background: #f589ff;
  }
  
  @-webkit-keyframes particle-animation-28 {
    100% {
      transform: translate3d(60vw, 74vh, 45px);
    }
  }
  
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(60vw, 74vh, 45px);
    }
  }
  .particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
            animation: particle-animation-28 60s infinite;
    opacity: 0.12;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.6s;
            animation-delay: -5.6s;
    transform: translate3d(25vw, 62vh, 87px);
    background: #fafff8;
  }
  
  @-webkit-keyframes particle-animation-29 {
    100% {
      transform: translate3d(13vw, 90vh, 7px);
    }
  }
  
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(13vw, 90vh, 7px);
    }
  }
  .particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
            animation: particle-animation-29 60s infinite;
    opacity: 0.02;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.8s;
            animation-delay: -5.8s;
    transform: translate3d(8vw, 17vh, 44px);
    background: #ebebeb;
  }
  
  @-webkit-keyframes particle-animation-30 {
    100% {
      transform: translate3d(71vw, 40vh, 50px);
    }
  }
  
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(71vw, 40vh, 50px);
    }
  }
  .particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
            animation: particle-animation-30 60s infinite;
    opacity: 0.38;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    transform: translate3d(14vw, 19vh, 42px);
    background: #ff6aeb;
  }
  
  @-webkit-keyframes particle-animation-31 {
    100% {
      transform: translate3d(9vw, 83vh, 60px);
    }
  }
  
  @keyframes particle-animation-31 {
    100% {
      transform: translate3d(9vw, 83vh, 60px);
    }
  }
  .particle:nth-child(31) {
    -webkit-animation: particle-animation-31 60s infinite;
            animation: particle-animation-31 60s infinite;
    opacity: 0.93;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -6.2s;
            animation-delay: -6.2s;
    transform: translate3d(38vw, 50vh, 57px);
    background: #26d9b5;
  }
  
  @-webkit-keyframes particle-animation-32 {
    100% {
      transform: translate3d(87vw, 58vh, 25px);
    }
  }
  
  @keyframes particle-animation-32 {
    100% {
      transform: translate3d(87vw, 58vh, 25px);
    }
  }
  .particle:nth-child(32) {
    -webkit-animation: particle-animation-32 60s infinite;
            animation: particle-animation-32 60s infinite;
    opacity: 0.79;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -6.4s;
            animation-delay: -6.4s;
    transform: translate3d(1vw, 15vh, 22px);
    background: #26d0d9;
  }
  
  @-webkit-keyframes particle-animation-33 {
    100% {
      transform: translate3d(46vw, 31vh, 47px);
    }
  }
  
  @keyframes particle-animation-33 {
    100% {
      transform: translate3d(46vw, 31vh, 47px);
    }
  }
  .particle:nth-child(33) {
    -webkit-animation: particle-animation-33 60s infinite;
            animation: particle-animation-33 60s infinite;
    opacity: 0.98;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -6.6s;
            animation-delay: -6.6s;
    transform: translate3d(7vw, 13vh, 8px);
    background: #f5ff69;
  }
  
  @-webkit-keyframes particle-animation-34 {
    100% {
      transform: translate3d(90vw, 35vh, 1px);
    }
  }
  
  @keyframes particle-animation-34 {
    100% {
      transform: translate3d(90vw, 35vh, 1px);
    }
  }
  .particle:nth-child(34) {
    -webkit-animation: particle-animation-34 60s infinite;
            animation: particle-animation-34 60s infinite;
    opacity: 0.58;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -6.8s;
            animation-delay: -6.8s;
    transform: translate3d(16vw, 37vh, 39px);
    background: #26b5d9;
  }
  
  @-webkit-keyframes particle-animation-35 {
    100% {
      transform: translate3d(61vw, 55vh, 39px);
    }
  }
  
  @keyframes particle-animation-35 {
    100% {
      transform: translate3d(61vw, 55vh, 39px);
    }
  }
  .particle:nth-child(35) {
    -webkit-animation: particle-animation-35 60s infinite;
            animation: particle-animation-35 60s infinite;
    opacity: 0.7;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -7s;
            animation-delay: -7s;
    transform: translate3d(85vw, 4vh, 90px);
    background: #2effcb;
  }
  
  @-webkit-keyframes particle-animation-36 {
    100% {
      transform: translate3d(24vw, 85vh, 76px);
    }
  }
  
  @keyframes particle-animation-36 {
    100% {
      transform: translate3d(24vw, 85vh, 76px);
    }
  }
  .particle:nth-child(36) {
    -webkit-animation: particle-animation-36 60s infinite;
            animation: particle-animation-36 60s infinite;
    opacity: 0.96;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -7.2s;
            animation-delay: -7.2s;
    transform: translate3d(5vw, 16vh, 16px);
    background: #ffca98;
  }
  
  @-webkit-keyframes particle-animation-37 {
    100% {
      transform: translate3d(16vw, 88vh, 68px);
    }
  }
  
  @keyframes particle-animation-37 {
    100% {
      transform: translate3d(16vw, 88vh, 68px);
    }
  }
  .particle:nth-child(37) {
    -webkit-animation: particle-animation-37 60s infinite;
            animation: particle-animation-37 60s infinite;
    opacity: 0.59;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -7.4s;
            animation-delay: -7.4s;
    transform: translate3d(21vw, 73vh, 2px);
    background: #0edbe2;
  }
  
  @-webkit-keyframes particle-animation-38 {
    100% {
      transform: translate3d(55vw, 55vh, 99px);
    }
  }
  
  @keyframes particle-animation-38 {
    100% {
      transform: translate3d(55vw, 55vh, 99px);
    }
  }
  .particle:nth-child(38) {
    -webkit-animation: particle-animation-38 60s infinite;
            animation: particle-animation-38 60s infinite;
    opacity: 0.96;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -7.6s;
            animation-delay: -7.6s;
    transform: translate3d(24vw, 72vh, 36px);
    background: #ffffff;
  }
  
  @-webkit-keyframes particle-animation-39 {
    100% {
      transform: translate3d(39vw, 15vh, 91px);
    }
  }
  
  @keyframes particle-animation-39 {
    100% {
      transform: translate3d(39vw, 15vh, 91px);
    }
  }
  .particle:nth-child(39) {
    -webkit-animation: particle-animation-39 60s infinite;
            animation: particle-animation-39 60s infinite;
    opacity: 0.56;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -7.8s;
            animation-delay: -7.8s;
    transform: translate3d(28vw, 15vh, 69px);
    background: #c1e60b;
  }
  
  @-webkit-keyframes particle-animation-40 {
    100% {
      transform: translate3d(44vw, 48vh, 18px);
    }
  }
  
  @keyframes particle-animation-40 {
    100% {
      transform: translate3d(44vw, 48vh, 18px);
    }
  }
  .particle:nth-child(40) {
    -webkit-animation: particle-animation-40 60s infinite;
            animation: particle-animation-40 60s infinite;
    opacity: 0.2;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -8s;
            animation-delay: -8s;
    transform: translate3d(14vw, 44vh, 33px);
    background: #18b6da;
  }